.page-fin {
    top: 0;
    left: 0;
    overflow: hidden;
    .wrapper {
        top: 0;
        left: 0;
        .box-all {
            // opacity: 0.5;
            top: 0.5rem;
            left: 0;
            .box-text {
                width: 41%;
                top: 3.12rem;
                left: 28.6%;
                display: none;
                .ribbon {
                    width: 15.8%;
                    bottom: -0.04rem;
                }
                .ribbon1 {
                    left: -20%;
                }
                .ribbon2 {
                    right: -21%;
                    -moz-transform: scaleX(-1);
                    -webkit-transform: scaleX(-1);
                    -o-transform: scaleX(-1);
                    transform: scaleX(-1);
                }
            }
            @-webkit-keyframes shake {
                0% {
                    transform: rotate(0deg);
                }
                25% {
                    transform: rotate(6deg);
                }
                50% {
                    transform: rotate(0deg);
                }
                75% {
                    transform: rotate(-6deg);
                }
                100% {
                    transform: rotate(0deg);
                }
            }
            .box-fulu {
                width: 25.2%;
                top: 11.9rem;
                right: 21.2%;
                .fulu {
                    width: 119.4%;
                    bottom: 0.16rem;
                    left: -11.6%;
                    animation: shake 1s linear .2s infinite;
                    -webkit-animation: shake 1s linear .2s infinite;
                    -moz-animation: shake 1s linear .2s infinite;
                    -ms-animation: shake 1s linear .2s infinite;
                    animation-play-state: running;
                    transform-origin: bottom center;
                }
            }
            .box-mouse {
                width: 28.8%;
                top: 11.88rem;
                left: 23.6%;
                .mouse {
                    width: 162%;
                    bottom: 0.08rem;
                    left: -24.4%;
                    animation: shake 1s linear .2s infinite;
                    -webkit-animation: shake 1s linear .2s infinite;
                    -moz-animation: shake 1s linear .2s infinite;
                    -ms-animation: shake 1s linear .2s infinite;
                    animation-play-state: running;
                    transform-origin: bottom center;
                }
            }
            .box-border {
                top: 0;
                left: 0;
                .box-title {
                    height: 3rem;
                    top: 0;
                    left: 0;
                    .title {
                        height: 2.94rem;
                        top: 0;
                    }
                    .title1 {
                        width: 0%;
                        left: 50.04%;
                        background: url("../img/fin/title1.png") right 0 no-repeat;
                        background-size: auto 100%;
                    }
                    .title2 {
                        width: 0%;
                        left: 49.96%;
                        background: url("../img/fin/title2.png") 0 0 no-repeat;
                        background-size: auto 100%;
                    }
                }
            }
            .box-btns {
                top: 13.04rem;
                left: 0;
                .btn-back, .btn-share {
                    display: inline-block;
                    width: 29.8%;
                }
                .btn-share {
                    margin-left: 5.4%;
                }
            }
        }
        .modal-share {
            top: 0;
            left: 0;
            background: rgba(0, 0, 0, 0.96);
            display: none;
            .share {
                width: 26.6%;
                top: 0.5rem;
                right: 5.4%;
            }
        }
    }
}
