.page-home {
    top: 0;
    left: 0;
    overflow: hidden;
    .wrapper {
        top: 0;
        left: 0;
        .box-all {
            top: 0;
            left: 0;
            .ingot {
                width: 14.4%;
                top: 32.2%;
                right: -14.4%; /* -8.4% */
            }
            .lanterns {
                width: 23.6%;
                top: 22.8%;
                left: -23.6%; /* -14.8% */
            }
            .cloud1 {
                width: 39%;
                top: -3.6%;
                left: -39%; /* -16.4% */
            }
            .cloud2 {
                width: 25.6%;
                top: 48.4%;
                left: -25.6%; /* -16% */
            }
            .cloud3 {
                width: 24.6%;
                top: 13%;
                right: -24.6%; /* -15.2% */
                -moz-transform: scaleX(-1) rotate(-4deg);
                -webkit-transform: scaleX(-1) rotate(-4deg);
                -o-transform: scaleX(-1) rotate(-4deg);
                transform: scaleX(-1) rotate(-4deg);
            }
            .cloud4 {
                width: 18.8%;
                top: 34.6%;
                right: -18.8%; /* -10.2% */
            }
            .clouds1, .clouds2 {
                left: 0;
            }
            .clouds1 {
                bottom: -7rem; /* 0.5rem */
            }
            .clouds2 {
                bottom: -9rem;
            }
            .text {
                width: 48.4%;
                top: -30%; /* 10% */
                left: 25.8%;
            }
            .box-mousefulu {
                width: 99.4%;
                top: 2.8%;
                right: -99.4%; /* -10.6% */
                .lantern {
                    width: 32%;
                    top: -0.6%;
                    right: -2%;
                    transform-origin: 12.8% top;
                }
            }
            .arrow {
                width: 6%;
                bottom: 9.8%;
                left: 47%;
                opacity: 0;
            }
        }
    }
}
