.page-level4 {
    top: 0;
    left: 0;
    overflow: hidden;
    .wrapper {
        top: 0;
        left: 0;
        .box-all {
            // opacity: 0.5;
            top: 0.5rem;
            left: 0;
            .text1 {
                width: 57%;
                top: 2.16rem;
                left: 21.6%;
                display: none;
            }
            .box-fulu1 {
                width: 33.6%;
                top: 11.46rem;
                left: 33.2%;
                .box-turn {
                    width: 175.2%;
                    bottom: 0.14rem;
                    left: -38%;
                    .turn {
                        top: 0;
                        left: 0;
                        opacity: 0;
                    }
                    .ghost {
                        width: 27.6%;
                        top: 1.2rem; /* 0.88rem */
                        left: 18.6%; /* 2.6% */
                        -moz-transform: scale(0);
                        -webkit-transform: scale(0);
                        -o-transform: scale(0);
                        transform: scale(0);
                        transform-origin: right bottom;
                    }
                }
            }
            .box-cave {
                width: 20.2%;
                top: 12.5rem;
                left: 39.8%;
                .cave2 {
                    top: 0;
                    left: 0;
                }
                .box-mouse1 {
                    top: 1.74rem;
                    left: 0;
                    .eyes {
                        width: 6.8%;
                        top: 0.68rem;
                        left: 20%;
                    }
                }
            }
            .box-sugar1 {
                top: 9.28rem;
                left: 20.8%;
                display: none;
                .line1 {
                    width: 1.5rem;
                    height: 0.8rem;
                    background: url('../img/common/line1.png') no-repeat;
                    background-size: 100% auto;
                    opacity: 0;
                }
                .sugar1 {
                    width: 64%;
                    top: 0.2rem;
                    left: 120%;
                }
            }
            .box-sugar2 {
                top: 7.42rem;
                left: 13.8%;
                -moz-transform: rotate(-6deg);
                -webkit-transform: rotate(-6deg);
                -o-transform: rotate(-6deg);
                transform: rotate(-6deg);
                display: none;
                .line2 {
                    width: 1.1rem;
                    height: 1rem;
                    background: url('../img/common/line2.png') no-repeat;
                    background-size: 100% auto;
                    opacity: 0;
                }
                .sugar2 {
                    width: 88%;
                    top: 1rem;
                    left: 120%;
                }
            }
            .box-sugar3 {
                top: 6.98rem;
                right: 22.6%;
                display: none;
                .line3 {
                    width: 1.14rem;
                    height: 1.1rem;
                    background: url('../img/common/line3.png') no-repeat;
                    background-size: 100% auto;
                    opacity: 0;
                }
                .sugar3 {
                    width: 112%;
                    top: 0.8rem;
                    right: 100%;
                }
            }
            .box-run {
                width: 23.4%;
                top: 12.26rem;
                right: -33.2%; /* 26.2% */
                .line {
                    width: 44%;
                    top: -0.7rem;
                    right: -49%;
                    opacity: 0;
                }
                .run {
                    width: 143%;
                    bottom: 0.08rem;
                    left: -26%;
                }
            }
            .border {
                top: 0;
                left: 0;
            }
            .help {
                width: 48.4%;
                top: 12.52rem;
                right: 12%;
                display: none;
            }
            .re {
                top: 0;
                left: 0;
                display: none;
                .text2 {
                    width: 56.2%;
                    top: 2.14rem;
                    left: 22%;
                }
                .box-fulu2 {
                    width: 33.2%;
                    top: 11.46rem;
                    left: 33.2%;
                   @-webkit-keyframes shake {
                        0% {
                            transform: rotate(0deg);
                        }
                        25% {
                            transform: rotate(6deg);
                        }
                        50% {
                            transform: rotate(0deg);
                        }
                        75% {
                            transform: rotate(-6deg);
                        }
                        100% {
                            transform: rotate(0deg);
                        }
                    }
                    .fulu2 {
                        width: 146.2%;
                        bottom: 0.2rem;
                        left: -22%;
                        transform-origin: bottom center;
                    }
                }
                .box-knot {
                    width: 19.4%;
                    top: 11.64rem;
                    right: 17.4%;
                    .knot {
                        width: 130%;
                        bottom: 0.02rem;
                        left: -4%;
                    }
                }
                @-webkit-keyframes twinkle1 {
                    0% {
                        transform: scale(0.4);
                    }
                    50% {
                        transform: scale(1);
                    }
                    100% {
                        transform: scale(0.4);
                    }
                }
                .star1 {
                    width: 4%;
                    top: 6.04rem;
                    left: 32.8%;
                    animation: twinkle1 1s linear .2s infinite;
                    -webkit-animation: twinkle1 1s linear .2s infinite;
                    -moz-animation: twinkle1 1s linear .2s infinite;
                    -ms-animation: twinkle1 1s linear .2s infinite;
                    animation-play-state: running;
                }
                .star2 {
                    width: 4.6%;
                    top: 5.02rem;
                    left: 58%;
                    animation: twinkle1 1s linear .4s infinite;
                    -webkit-animation: twinkle1 1s linear .4s infinite;
                    -moz-animation: twinkle1 1s linear .4s infinite;
                    -ms-animation: twinkle1 1s linear .4s infinite;
                    animation-play-state: running;
                }
                .star3 {
                    width: 3.2%;
                    top: 6.86rem;
                    right: 33%;
                    animation: twinkle1 1s linear .6s infinite;
                    -webkit-animation: twinkle1 1s linear .6s infinite;
                    -moz-animation: twinkle1 1s linear .6s infinite;
                    -ms-animation: twinkle1 1s linear .6s infinite;
                    animation-play-state: running;
                }
                @-webkit-keyframes float {
                    0% {
                        transform: translateY(0);
                    }
                    50% {
                        transform: translateY(-10px);
                    }
                    100% {
                        transform: translateY(0);
                    }
                }
                .paper1 {
                    width: 3.2%;
                    top: 8.2rem;
                    left: 21.4%;
                    -moz-transform: scaleX(-1);
                    -webkit-transform: scaleX(-1);
                    -o-transform: scaleX(-1);
                    transform: scaleX(-1);
                }
                .paper2 {
                    width: 3.2%;
                    top: 5.66rem;
                    right: 23.8%;
                }
                .paper3 {
                    width: 3.2%;
                    top: 11.2rem;
                    left: 11.6%;
                    -moz-transform: rotate(-60deg);
                    -webkit-transform: rotate(-60deg);
                    -o-transform: rotate(-60deg);
                    transform: rotate(-60deg);
                }
                .paper4 {
                    width: 3.2%;
                    top: 8.58rem;
                    right: 14.6%;
                }
                @-webkit-keyframes twinkle2 {
                    0% {
                        opacity: 0;
                    }
                    50% {
                        opacity: 1;
                    }
                    100% {
                        opacity: 0;
                    }
                }
                .firework1 {
                    width: 5.6%;
                    top: 5.62rem;
                    left: 20.2%;
                    animation: twinkle2 1s linear .2s infinite;
                    -webkit-animation: twinkle2 1s linear .2s infinite;
                    -moz-animation: twinkle2 1s linear .2s infinite;
                    -ms-animation: twinkle2 1s linear .2s infinite;
                    animation-play-state: running;
                }
                .firework2 {
                    width: 4.8%;
                    top: 7.7rem;
                    right: 17%;
                    animation: twinkle2 1s linear .4s infinite;
                    -webkit-animation: twinkle2 1s linear .4s infinite;
                    -moz-animation: twinkle2 1s linear .4s infinite;
                    -ms-animation: twinkle2 1s linear .4s infinite;
                    animation-play-state: running;
                }
                .firework3 {
                    width: 7.2%;
                    top: 9.88rem;
                    left: 13.4%;
                    animation: twinkle2 1s linear .6s infinite;
                    -webkit-animation: twinkle2 1s linear .6s infinite;
                    -moz-animation: twinkle2 1s linear .6s infinite;
                    -ms-animation: twinkle2 1s linear .6s infinite;
                    animation-play-state: running;
                }
                .border {
                    top: 0;
                    left: 0;
                }
                .box-tip {
                    width: 77%;
                    top: 12.08rem;
                    left: 11.5%;
                    display: none;
                    .tip {
                        width: 88%;
                        top: 0.06rem;
                        left: 6%;
                    }
                    .prev, .next {
                        bottom: 0.18rem;
                    }
                    .prev {
                        width: 28.2%;
                        left: 7.6%;
                    }
                    .next {
                        width: 24%;
                        right: 7.8%;
                        opacity: 0;
                    }
                    .quote {
                        width: 64%;
                        bottom: -0.24rem;
                        left: 5.2%;
                    }
                }
            }
        }
    }
}
