.page-level1 {
    top: 0;
    left: 0;
    overflow: hidden;
    .wrapper {
        top: 0;
        left: 0;
        .box-all {
            // opacity: 0.5;
            top: 0.5rem;
            left: 0;
            .text1 {
                width: 57.6%;
                top: 2.16rem;
                left: 21.2%;
            }
            .box-fulu1 {
                width: 33.2%;
                top: 11.46rem;
                left: 33.4%;
                .shadow1 {
                    -moz-transform: scale(0);
                    -webkit-transform: scale(0);
                    -o-transform: scale(0);
                    transform: scale(0);
                    transform-origin: center center;
                }
                .fulu1 {
                    width: 163.4%;
                    bottom: 15.12rem; /* 0.12rem */
                    left: -32.2%;
                    transform-origin: center bottom;
                }
                .bmi {
                    width: 84%;
                    bottom: 2.44rem;
                    right: -50.8%;
                    opacity: 0;
                }
            }
            .box-cave {
                width: 20.2%;
                top: 12.5rem;
                left: 39.8%;
                .cave2 {
                    top: 0;
                    left: 0;
                }
                .box-mouse1 {
                    top: 1.74rem;
                    left: 0;
                    .eyes {
                        width: 6.8%;
                        top: 0.68rem;
                        left: 20%;
                    }
                }
            }
            .border {
                top: 0;
                left: 0;
            }
            .box-sugar1 {
                top: 9.16rem;
                left: 16.2%;
                display: none;
                .line1 {
                    width: 1.5rem;
                    height: 0.8rem;
                    background: url('../img/common/line1.png') no-repeat;
                    background-size: 100% auto;
                    opacity: 0;
                }
                .sugar1 {
                    width: 64%;
                    top: 1rem; /* -0.56rem */
                    left: 220%; /* -66% */
                }
            }
            .box-sugar2 {
                top: 7.84rem;
                left: 25.2%;
                display: none;
                .line2 {
                    width: 1.1rem;
                    height: 1rem;
                    background: url('../img/common/line2.png') no-repeat;
                    background-size: 100% auto;
                    opacity: 0;
                }
                .sugar2 {
                    width: 88%;
                    top: 2.08rem; /* -0.54rem */
                    left: 230%; /* -69% */
                }
            }
            .box-sugar3 {
                top: 6.68rem;
                right: 20%;
                display: none;
                .line3 {
                    width: 1.14rem;
                    height: 1.1rem;
                    background: url('../img/common/line3.png') no-repeat;
                    background-size: 100% auto;
                    opacity: 0;
                }
                .sugar3 {
                    width: 112%;
                    top: 1.8rem; /* -0.58rem */
                    right: 170%; /* -102% */
                }
            }
            .box-smoke {
                width: 63%;
                top: 7.04rem;
                right: 15.8%;
                opacity: 0;
            }
            .box-boxing {
                width: 18.4%;
                top: 11.8rem;
                right: -29.8%; /* 12.8% */
                .boxing {
                    width: 134.6%;
                    bottom: 0rem;
                    left: -0.54rem;
                }
            }
            .help {
                width: 48.4%;
                top: 12.52rem;
                right: 12%;
                display: none;
            }
            .re {
                top: 0;
                left: 0;
                display: none;
                .text2 {
                    width: 55.6%;
                    top: 2.14rem;
                    left: 22.6%;
                }
                @-webkit-keyframes twinkle {
                    0% {
                        opacity: 0;
                    }
                    50% {
                        opacity: 1;
                    }
                    100% {
                        opacity: 0;
                    }
                }
                .firework1 {
                    width: 5.3%;
                    top: 5.36rem;
                    left: 29.5%;
                    animation: twinkle 1s linear .2s infinite;
                    -webkit-animation: twinkle 1s linear .2s infinite;
                    -moz-animation: twinkle 1s linear .2s infinite;
                    -ms-animation: twinkle 1s linear .2s infinite;
                    animation-play-state: running;
                }
                .firework2 {
                    width: 4.8%;
                    top: 6.44rem;
                    right: 20%;
                    animation: twinkle 1s linear .4s infinite;
                    -webkit-animation: twinkle 1s linear .4s infinite;
                    -moz-animation: twinkle 1s linear .4s infinite;
                    -ms-animation: twinkle 1s linear .4s infinite;
                    animation-play-state: running;
                }
                .firework3 {
                    width: 5.8%;
                    top: 9.02rem;
                    right: 13%;
                    animation: twinkle 1s linear .6s infinite;
                    -webkit-animation: twinkle 1s linear .6s infinite;
                    -moz-animation: twinkle 1s linear .6s infinite;
                    -ms-animation: twinkle 1s linear .6s infinite;
                    animation-play-state: running;
                }
                .firework4 {
                    width: 4.7%;
                    top: 10.5rem;
                    left: 14.7%;
                    animation: twinkle 1s linear .8s infinite;
                    -webkit-animation: twinkle 1s linear .8s infinite;
                    -moz-animation: twinkle 1s linear .8s infinite;
                    -ms-animation: twinkle 1s linear .8s infinite;
                    animation-play-state: running;
                }
                .firework5 {
                    width: 5.8%;
                    top: 11.12rem;
                    right: 23.8%;
                    animation: twinkle 1s linear 1s infinite;
                    -webkit-animation: twinkle 1s linear 1s infinite;
                    -moz-animation: twinkle 1s linear 1s infinite;
                    -ms-animation: twinkle 1s linear 1s infinite;
                    animation-play-state: running;
                }
                .box-fulu2 {
                    width: 33.6%;
                    top: 11.46rem;
                    left: 33.2%;
                    @-webkit-keyframes shake {
                        0% {
                            transform: rotate(0deg);
                        }
                        25% {
                            transform: rotate(6deg);
                        }
                        50% {
                            transform: rotate(0deg);
                        }
                        75% {
                            transform: rotate(-6deg);
                        }
                        100% {
                            transform: rotate(0deg);
                        }
                    }
                    .box-fulumouse {
                        width: 146%;
                        bottom: 0.12rem;
                        left: -23%;
                        transform-origin: bottom center;
                        .fulu2 {
                            bottom: 0;
                            left: 0;
                        }
                    }
                    .box-mouse2 {
                        width: 56.8%;
                        bottom: 1.2rem; /* 3.32rem */
                        left: 10%; /* -30.2% */
                        -moz-transform: rotate(-6deg);
                        -webkit-transform: rotate(-6deg);
                        -o-transform: rotate(-6deg);
                        transform: rotate(-6deg);
                        .box-pao {
                            width: 28.8%;
                            top: 1.56rem;
                            left: 5.6%;
                            .fire {
                                bottom: 0;
                                left: 0;
                                opacity: 0;
                            }
                        }
                    }
                }
                .border {
                    top: 0;
                    left: 0;
                }
                .box-tip {
                    width: 77%;
                    top: 12.08rem;
                    left: 11.5%;
                    display: none;
                    .tip {
                        width: 88%;
                        top: 0.06rem;
                        left: 6%;
                    }
                    .prev, .next {
                        bottom: 0.18rem;
                    }
                    .prev {
                        width: 28.2%;
                        left: 7.6%;
                    }
                    .next {
                        width: 36.8%;
                        right: 7.6%;
                        opacity: 0;
                    }
                }
            }
        }
    }
}
