<style lang="less" scoped src="../assets/css/fin.less"></style>

<template>
	<div class="abs full-w full-h page-fin">
		<div class="abs full-w full-h wrapper">
	        <div class="abs full-w box-all fontsize0 center">
		        <!-- text -->
		        <div class="abs box-text">
		        	<!-- text -->
		        	<img class="full-w" src="../assets/img/fin/text.png" />
		        	<!-- fire -->
		        	<img class="abs ribbon ribbon1" src="../assets/img/fin/ribbon.png" />
		        	<img class="abs ribbon ribbon2" src="../assets/img/fin/ribbon.png" />
		        </div>
		        <!-- border -->
		        <div class="abs box-border">
		        	<!-- border -->
	        		<img class="full-w" src="../assets/img/fin/border.png" />
	        		<div class="abs full-w box-title">
				        <div class="abs title title1"></div>
				        <div class="abs title title2"></div>
				    </div>
	        	</div>
	        	<!-- fulu -->
	        	<div class="abs box-fulu">
	        		<!-- shadow -->
	        		<img class="full-w" src="../assets/img/fin/shadow-fulu.png" />
			        <!-- fulu -->
			        <img class="abs fulu" src="../assets/img/fin/fulu.png" />
		        </div>
		        <!-- ingot -->
		        <div class="abs box-mouse">
		        	<!-- shadow -->
	        		<img class="full-w" src="../assets/img/fin/shadow-mouse.png" />
			        <!-- ingot -->
			        <img class="abs mouse" src="../assets/img/fin/mouse.png" />
		        </div>
	        	<!-- tip -->
	        	<div class="abs full-w box-btns">
	        		<!-- back -->
	        		<img class="btn-back" @click="home" src="../assets/img/fin/btn-back.png" />
	        		<!-- share -->
	        		<img class="btn-share" @click="share" src="../assets/img/fin/btn-share.png" />
	        	</div>
	        </div>
	        <!-- modal -->
			<div class="abs full-w full-h modal-share fontsize0 center" @click="close">
				<!-- share -->
				<img class="abs share" src="../assets/img/fin/share.png" />
			</div>
		</div>
	</div>
</template>

<script src="../assets/js/fin.js"></script>