<style lang="less" scoped src="../assets/css/level4.less"></style>

<template>
	<div class="abs full-w full-h page-level4">
		<div class="abs full-w full-h wrapper">
	        <div class="abs full-w box-all fontsize0 center">
	        	<!-- text -->
	        	<img class="abs text1" src="../assets/img/level4/text1.png" />
	        	<div class="abs box-fulu1">
		        	<!-- shadow -->
		        	<img class="full-w" src="../assets/img/common/shadow.png" />
		        	<!-- fulu -->
		        	<div class="abs box-turn">
		        		<!-- fulu -->
			        	<img class="full-w fulu1" src="../assets/img/level4/fulu1.png" />
			        	<img class="abs full-w turn" src="../assets/img/level4/turn1.png" />
			        	<!-- ghost -->
			        	<img class="abs ghost" src="../assets/img/level4/ghost.png" />
			        </div>
		        </div>
	        	<!-- mouse -->
	        	<div class="abs box-cave">
	        		<!-- cave -->
	        		<img class="full-w cave1" src="../assets/img/common/cave1.png" />
	        		<!-- mouse -->
	        		<div class="abs full-w box-mouse1">
	        			<!-- mouse -->
		        		<img class="full-w" src="../assets/img/common/mouse.png" />
		        		<!-- eyes -->
		        		<img class="abs eyes" src="../assets/img/common/open.png" />
		        	</div>
	        		<!-- cave -->
	        		<img class="abs full-w cave2" src="../assets/img/common/cave2.png" />
	        	</div>
	        	<!-- border -->
	        	<img class="abs full-w border" src="../assets/img/level4/border.png" />
	        	<!-- sugar1 -->
	        	<div class="abs box-sugar1">
	        		<!-- line1 -->
	        		<div class="line1"></div>
	        		<!-- sugar1 -->
	        		<img class="abs sugar1" src="../assets/img/common/sugar1.png" />
	        	</div>
	        	<!-- sugar2 -->
	        	<div class="abs box-sugar2">
	        		<!-- line2 -->
	        		<div class="line2"></div>
	        		<!-- sugar2 -->
	        		<img class="abs sugar2" src="../assets/img/common/sugar2.png" />
	        	</div>
	        	<!-- sugar3 -->
	        	<div class="abs box-sugar3">
	        		<!-- line3 -->
	        		<div class="line3"></div>
	        		<!-- sugar3 -->
	        		<img class="abs sugar3" src="../assets/img/common/sugar3.png" />
	        	</div>
	        	<!-- boxing -->
	        	<div class="abs box-run">
	        		<!-- shadow -->
	        		<img class="full-w" src="../assets/img/level4/shadow-mouse1.png" />
	        		<!-- line -->
	        		<img class="abs full-w line" src="../assets/img/level4/line.png" />
	        		<!-- mouse -->
	        		<img class="abs full-w run" src="../assets/img/level4/run1.png" />
	        	</div>
	        	<!-- help -->
	        	<img class="abs help" src="../assets/img/common/help.png" />
	        	<!-- re -->
	        	<div class="abs full-w re">
	        		<!-- text -->
		        	<img class="abs text2" src="../assets/img/level4/text2.png" />
		        	<!-- fulu -->
		        	<div class="abs box-fulu2">
		        		<!-- shadow -->
		        		<img class="full-w" src="../assets/img/common/shadow.png" />
				        <!-- fulu -->
				        <img class="abs fulu2" src="../assets/img/level4/fulu-re.png" />
			        </div>
			        <!-- ingot -->
			        <div class="abs box-knot">
			        	<!-- shadow -->
		        		<img class="full-w" src="../assets/img/level4/shadow-mouse2.png" />
				        <!-- ingot -->
				        <img class="abs knot" src="../assets/img/level4/knot2.png" />
			        </div>
			        <!-- star -->
			        <img class="abs star1" src="../assets/img/level4/star.png" />
			        <img class="abs star2" src="../assets/img/level4/star.png" />
			        <img class="abs star3" src="../assets/img/level4/star.png" />
			        <!-- coin -->
			        <img class="abs paper1" src="../assets/img/level4/paper1.png" />
			        <img class="abs paper2" src="../assets/img/level4/paper1.png" />
			        <img class="abs paper3" src="../assets/img/level4/paper2.png" />
			        <img class="abs paper4" src="../assets/img/level4/paper2.png" />
			        <!-- firework -->
			        <img class="abs firework1" src="../assets/img/common/firework2.png" />
		        	<img class="abs firework2" src="../assets/img/common/firework2.png" />
		        	<img class="abs firework3" src="../assets/img/common/firework2.png" />
		        	<!-- tip -->
		        	<div class="abs box-tip">
		        		<!-- bg -->
		        		<img class="full-w" src="../assets/img/common/bg-tip.png" />
		        		<!-- tip -->
		        		<img class="abs tip" src="../assets/img/level4/tip.png" />
		        		<!-- prev -->
		        		<img class="abs prev" @click="prev" src="../assets/img/common/prev.png" />
		        		<!-- next -->
		        		<img class="abs next" @click="next" src="../assets/img/level4/next.png" />
		        		<!-- quote -->
		        		<img class="abs quote" src="../assets/img/level4/quote.png" />
		        	</div>
	        	</div>
	        </div>
		</div>
	</div>
</template>

<script src="../assets/js/level4.js"></script>