<style lang="less" scoped src="../assets/css/level2.less"></style>

<template>
	<div class="abs full-w full-h page-level2">
		<div class="abs full-w full-h wrapper">
	        <div class="abs full-w box-all fontsize0 center">
	        	<!-- arrows -->
	        	<div class="abs box-arrow1">
	        		<!-- arrow -->
		        	<img class="full-h arrow" src="../assets/img/level2/arrow.png" />
		        	<img class="full-h arrow" src="../assets/img/level2/arrow.png" />
		        	<img class="full-h arrow" src="../assets/img/level2/arrow.png" />
		        	<img class="full-h arrow" src="../assets/img/level2/arrow.png" />
		        	<img class="full-h arrow" src="../assets/img/level2/arrow.png" />
		        	<img class="full-h arrow" src="../assets/img/level2/arrow.png" />
		        </div>
		        <!-- text -->
	        	<img class="abs text1" src="../assets/img/level2/text1.png" />
	        	<!-- fulu -->
	        	<div class="abs box-fulu1">
	        		<!-- shadow -->
	        		<img class="full-w" src="../assets/img/common/shadow.png" />
	        		<!-- fulu -->
	        		<img class="abs fulu1" src="../assets/img/level2/fulu1.png" />
	        	</div>
	        	<!-- sugars -->
	        	<div class="abs box-sugars">
	        		<!-- sugar -->
	        		<img class="full-w sugars" src="../assets/img/level2/sugars.png" />
	        		<!-- mouse -->
		        	<div class="abs box-cave">
		        		<!-- cave -->
		        		<img class="full-w cave1" src="../assets/img/common/cave1.png" />
		        		<!-- mouse -->
		        		<div class="abs full-w box-mouse1">
		        			<!-- mouse -->
			        		<img class="full-w" src="../assets/img/common/mouse.png" />
			        		<!-- eyes -->
			        		<img class="abs eyes" src="../assets/img/common/open.png" />
			        	</div>
		        		<!-- cave -->
		        		<img class="abs full-w cave2" src="../assets/img/level2/cave2.png" />
		        	</div>
	        	</div>
	        	<!-- border -->
	        	<img class="abs full-w border" src="../assets/img/level2/border.png" />
	        	<!-- diging -->
	        	<div class="abs box-dig">
	        		<!-- mouse -->
	        		<img class="full-w dig" src="../assets/img/level2/dig1.png" />
	        	</div>
	        	<!-- sugar1 -->
	        	<div class="abs box-sugar1">
	        		<!-- line1 -->
	        		<div class="line1"></div>
	        		<!-- sugar1 -->
	        		<img class="abs sugar1" src="../assets/img/common/sugar1.png" />
	        	</div>
	        	<!-- sugar2 -->
	        	<div class="abs box-sugar2">
	        		<!-- line2 -->
	        		<div class="line2"></div>
	        		<!-- sugar2 -->
	        		<img class="abs sugar2" src="../assets/img/common/sugar2.png" />
	        	</div>
	        	<!-- sugar3 -->
	        	<div class="abs box-sugar3">
	        		<!-- line3 -->
	        		<div class="line3"></div>
	        		<!-- sugar3 -->
	        		<img class="abs sugar3" src="../assets/img/common/sugar3.png" />
	        	</div>
	        	<!-- help -->
	        	<img class="abs help" src="../assets/img/common/help.png" />
	        	<!-- re -->
	        	<div class="abs full-w re">
	        		<!-- arrows -->
		        	<div class="abs box-arrow2">
		        		<!-- arrow -->
			        	<img class="full-h arrow" src="../assets/img/level2/arrow.png" />
			        	<img class="full-h arrow" src="../assets/img/level2/arrow.png" />
			        	<img class="full-h arrow" src="../assets/img/level2/arrow.png" />
			        	<img class="full-h arrow" src="../assets/img/level2/arrow.png" />
			        	<img class="full-h arrow" src="../assets/img/level2/arrow.png" />
			        	<img class="full-h arrow" src="../assets/img/level2/arrow.png" />
			        </div>
			        <!-- text -->
		        	<img class="abs text2" src="../assets/img/level2/text2.png" />
		        	<!-- fulu -->
		        	<div class="abs box-fulu2">
		        		<!-- shadow -->
		        		<img class="full-w" src="../assets/img/common/shadow.png" />
			        	<!-- fulu -->
			        	<div class="abs box-fulumouse">
				        	<img class="full-w" src="../assets/img/level2/bg-fulu.png" />
				        	<!-- mouse -->
				        	<div class="abs box-mouse2">
				        		<!-- mouse -->
				        		<img class="full-w lantern" src="../assets/img/level2/lantern1.png" />
				        	</div>
				        	<!-- fulu -->
				        	<img class="abs full-w fulu2" src="../assets/img/level2/fulu2.png" />
				        </div>
			        </div>
		        	<!-- tip -->
		        	<div class="abs box-tip">
		        		<!-- bg -->
		        		<img class="full-w" src="../assets/img/common/bg-tip.png" />
		        		<!-- tip -->
		        		<img class="abs tip" src="../assets/img/level2/tip.png" />
		        		<!-- prev -->
		        		<img class="abs prev" @click="prev" src="../assets/img/common/prev.png" />
		        		<!-- next -->
		        		<img class="abs next" @click="next" src="../assets/img/common/next.png" />
		        		<!-- quote -->
		        		<img class="abs quote" src="../assets/img/level2/quote.png" />
		        	</div>
	        	</div>
	        </div>
		</div>
	</div>
</template>

<script src="../assets/js/level2.js"></script>