<style lang="less" src="./assets/css/main.less"></style>

<template>
    <div id="app" class="rel full-h">
        <music></music>
        <transition name="fade" mode="out-in">
            <router-view/>
        </transition>
    </div>
</template>

<script>
    import Music from './components/common/music.vue'; // music
	import { wxshare } from '@/libs/wxapi';
    export default {
        name: 'App',
        components: {
            'music': Music
        },
        mounted() {
        	// wxshare();
        },
        methods: {
            //
        }
    }
</script>
